*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background-color: lightgrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
}

/*HEADER*/
header {
    padding: 35px;
    background-color: black;
}
header h1 {
    font-weight: bold;
    font-size: 32px;
    color: white;
    margin: 0;
    display: inline;
}
header nav {
    float: right;
    margin: 0px;
}
header a {
    text-decoration: none;
    color: #ffffff;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a {
    margin: 0px;
    padding: 25px;
    font-weight: lighter;
    font-size: 22px;
    color: #ffffff;
}
a:hover {
    background-color: lightgrey;
    margin: auto;
}
/*HERO*/
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Codeheader.jpg");
    height: 500px;
    padding: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 80%;
    color: white;
}

/*WHAT-I-DO*/
#ABOUT-ME {
    flex: 1;
}
#BODY-OF-WORK {
    flex: 1;
}
#CONTACT{
    flex: 1;
}
.content {
    margin: 50px auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.section-title {
    font-size: 64px;
    margin: 20px;
    padding: 50px;
    text-align: center;
    display: flex;
    flex:1;
}
.step-text {
    flex-basis: 80%;
    font-size: 24px;
    padding-left: 85px;
    border-left: 3px solid black;
    flex: 2;
}
/*BODY-OF-WORK GRID*/
.container {
    width: 80%;
    height: 500px;
    border-left: 3px solid black;
    flex: 2;
    padding: 35px;
}
.grid-container {
    height: 500px;
    flex-basis: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
}
.grid-item:hover {
    opacity: 25%;
}  
.grid-item {
    display: flex;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 35px;
    height: 100%;
}  
.item-1 {
    background-image: url("../images/mernplaceholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
}
.item-2 {
    background-image: url("../images/puzplaceholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / span 1;
    grid-row: 5 / span 2;
}
.item-3 {
    background-image: url("../images/Runbuddyplaceholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2 / span 1;
    grid-row: 5 / span 2;
}
.item-4 {
    background-image: url("../images/LEDplaceholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
}
.item-5 {
    background-image: url("../images/calplaceholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 3 / span 1;
    grid-row: 3 / span 2;
}  